Source: avdl
Maintainer: Tom Tsagk <tomtsagk@darkdimension.org>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9), libglew-dev, libsdl2-dev, libsdl2-mixer-dev

Package: avdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglew-dev, libsdl2-dev, libsdl2-mixer-dev, libpng-dev
Description: Abstract video-game development language compiler
 A high level video game programming language.
 Games made with it are meant to be described in an abstract way
 and then be compiled for a variety of platforms.
